{# ``base.html`` is the template all our other templates derive from. While
   Flask-Bootstrap ships with its own base, it is good form to create a custom
   one for our app, as it allows customizing some aspects.

   Deriving from bootstap/base.html gives us a basic page scaffoling.

   You can find additional information about template inheritance at

   http://jinja.pocoo.org/docs/templates/#template-inheritance
#}
{%- extends "bootstrap/base.html" %}

{% block title %}ELMG Register Tool{% endblock %}

{# Enable fixes for legacy browsers. First we import the necessary macros: #}
{% import "bootstrap/fixes.html" as fixes %}

{# Inside the head block, we apply these. To not replace the header,
   ``super()`` is used: #}
{% block head %}
{{super()}}

{{fixes.ie8()}}
{%- endblock %}

{# Adding our own CSS files is also done here. Check the documentation at
   http://pythonhosted.org/Flask-Bootstrap/basic-usage.html#available-blocks
   for an overview. #}
{% block styles -%}
    {{super()}}  {# do not forget to call super or Bootstrap's own stylesheets
                    will disappear! #}
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='sample-app.css')}}">
{% endblock %}

{# Navigation #}
{% block navbar %}
{{nav.frontend_top.render()}}
{% endblock %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>nav
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
