{% extends "base.html" %} 
{% block content %}

	<div class="list-group">
	<H3>Configuration Save and Restore</H3>
	Click on file to download.
		<form method="post" action="{{ url_for('frontend.submit_file' ) }}"	enctype=multipart/form-data>
			{% for file in files %} 
			<li  >
			<input type="radio" name="files" id="{{ file[1] }}" value="{{ file[1] }}" > 
				<a href="http:/tmp/{{ file[1] }}"> {{ file[1] }} </a> </li> 
			{% endfor %} 
			<br> 
			<input type="submit" name="action" value="Save" />
			<input type="submit" name="action" value="Restore" /> 
			<input type="submit" name="action" value="Delete" />
			</div>
			<div>
		<H3>Configuration Upload</H3>
			Select a file: <input type="file" name="file"> 
			<input type="submit" name="action" value="Upload">
		</form>
		</div>
	</div>

{% with messages = get_flashed_messages() %} 
	{% if messages %}
	<ul class=flashes>
		{% for message in messages %}
			<li>{{ message }}</li> 
		{% endfor %}
	</ul>
	{% endif %} 
{% endwith %} 
{% endblock %}


