{% extends "base.html" %}
{% block content %}

    <h1>{{ title }} </h1>
     
 <h1> Module: {{ module.name }}</h1>
 <div id="table" class="table-editable">
    <form method="post" action="{{ url_for('frontend.submit', mod=module.name ) }}">
                    {{ form.csrf_token }}
    <table class="table table-bordered">
    <thead>
    <tr>
    <th> index  </td>
    <th>Name</th>
    <th>Value</th>
    <th>Units</th>
    <th>Min</th>
    <th>Max</th>
    <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    {% for register in registers %}
      {% if register.cache_register  %}
       <input name="{{register.path}}" type="hidden" value="{{ register.value }}">
      {% else %}
    	<tr>
        <td> {{ loop.index }} </td>
        <td>{{ register.name }} </td>
        <td >
            {% if register.read_only %}
                {{ register.value}}
            {% else %}
                <input name="{{register.path}}" type="number" value="{{ register.value }}" min="{{ register.min }}" max="{{ register.max }}" step= "{{ register.step }}" > 
            {% endif %}

        </td>
        <td>{{ register.units}} </td>
        <td>{{ register.min}} </td>
        <td>{{ register.max}} </td>
        <td>{{ register.notes}}</td>
    	</tr>
            {% endif %}


    {% endfor %}
    </tbody>
    </table> 
    <input type="submit" value="Submit" />
</form>
       <form method="get" action="{{ url_for('frontend.module', mod=module.name ) }}">
    <input type="submit" value="Refresh" />

    </form>   
   
    </div> 

{% endblock %}


