{% extends "base.html" %}
{% block content %}

    <h1>{{ title }} </h1>

 <h1> Module: {{ module.name }}</h1>
 <div id="registerForm" class="table-editable">
    <form method="post" action="{{ url_for('frontend.submit', mod=module.name ) }}"  >

    {{ form.csrf_token }}
    <table class="table table-bordered">
    <thead>
    <tr>
    <th>Index</td>
    <th>Name</th>
    <th>Value</th>
    <th>Units</th>
    <th>Min</th>
    <th>Max</th>
    <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    {% for register in registers %}
      {% if register.cache_register  %}
       <input name="{{register.path}}" type="hidden" value="{{ register.value }}">
      {% else %}
    	<tr>
        <td> {{ loop.index }} </td>
        <td>{{ register.name }} </td>
        <td >
            {% if register.read_only %}
                {{ register.value}}
            {% else %}
                <input
                		name="{{register.path}}"
                		id="{{register.id}}"
                		required
                		type="number"
                		value="{{register.value}}"
                		step= "{{register.step}}"
                		min="{{register.min}}"
                		max="{{register.max}}"
                		/>
            {% endif %}
        </td>
        <td>{{ register.units}} </td>
        <td>{{ register.min}} </td>
        <td>{{ register.max}} </td>
        <td>{{ register.notes}}</td>
    	</tr>
      {% endif %}
    {% endfor %}
    </tbody>
    </table>
    <input type="submit" name="submit" value="Submit"  formnovalidate/>
    <input type="submit" name="submit" value="Read"  formnovalidate/>
    <input type="reset"  name="submit" value="Cancel" formnovalidate />
    </form>
    </div>



<script>
var form = document.getElementById("registerForm");
form.noValidate = true;
form.onsubmit = validateForm;

function validateForm(event) {
	var form_valid = true;
	 {% for register in registers %}
		 {% if not register.cache_register and not register.read_only %}
		 	if ((document.getElementById('{{ register.id }}').validity.rangeUnderflow )
					|| (document.getElementById('{{ register.id }}').validity.rangeOverflow ))
		 		{
		 		form_valid = false;
		 		alert(" {{ register.name}}: Range error  ( {{ register.min }} to {{ register.max }} ) ")
		 		}

	     {% endif %}
     {% endfor %}
     return form_valid;
}
</script>


{% endblock %}


